<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBwlIKF-FjL_qwIgGgFqr1AlIPRbg0EfZ8</string>
	<key>GCM_SENDER_ID</key>
	<string>33449116580</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.vk.ios.NoteHub</string>
	<key>PROJECT_ID</key>
	<string>notehubfirebase</string>
	<key>STORAGE_BUCKET</key>
	<string>notehubfirebase.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:33449116580:ios:1ee749a987429a83f6b731</string>
</dict>
</plist>